*{
    box-sizing: border-box;

}
html{
    font-size: 16px;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 15px;

    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 1fr 5fr 1fr ;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'h h'
    's n'
    's a'
    'f f';
}
body > *{
    border-radius: 8px;

    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}
.Header{
    background-color: yellow;
    grid-area: h;   
}
.Sidebar{
    background-color: orangered;
    grid-area: s;
}
.Nav{
    background-color: aqua;
    grid-area: n;
}
.article{
    background-color: gray;
    grid-area: a;
}
.Footer{
    background-color: black;
    grid-area: f;   
}

