#board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: #cccc;
    gap: 1vh;
    margin: 10%;
}
.square{
    min-height: 80px;
    min-width: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.X{
    height: 50px;
    width: 50px;
    background: 
        linear-gradient(45deg, transparent 47%, black 47%, black 53%, transparent 53%),
        linear-gradient(-45deg, transparent 47%, black 47%, black 53%, transparent 53%);
    /* display: flex;
    align-items: center;
    position: relative; */
}
/* .X_part1{
    background: black;
    height: 1vh;
    width: 100%;
    transform: rotate(45deg);
}
.X_part2{
      background: black;
    height: 1vh;
    width: 100%;
    transform: rotate(-45deg);
    position: absolute;
} */
.O{
    border: 2px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

