#board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 5px solid black; */
    margin: 10%;
}
.square{
    min-height: 80px;
    min-width: 20px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.X{
    height: 50px;
    width: 50px;
    background: 
        linear-gradient(45deg, transparent 47%, black 47%, black 53%, transparent 53%),
        linear-gradient(-45deg, transparent 47%, black 47%, black 53%, transparent 53%);
}
.O{
    border: 2px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

